@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>
<h3><u>@ViewBag.Message</u></h3>

<b>VIJAY</b>
<br />
48-19 Foxchase Avenue, Woodbridge, ON, L4L 9N1
<br />
(647)-676-3338 • <a href="mailto:vijay.gangus@gmail.com">vijay.gangus@gmail.com</a> • <a href="https://www.linkedin.com/in/vijay-vijay" target="_blank">LinkedIn Account</a> • <a href="https://github.com/CoffeeAndBun" target="_blank">GitHub Account</a>
<br />

<h2>Objective</h2>
<hr />
<p>Seeking opportunity as a Software Developer/DevOps Engineer to use my technical skills with a long-term perspective to add value and grow in an organization. I aspire to contribute broadly by participating in product design, development and delivering applications on time.</p>

<h2>Technical Skills</h2>
<hr />
<ul>
    <li>Hands-on experience in developing web applications using ASP.NET, ASP.NET Core, C#, WCF, MVC, Entity Framework, HTML, CSS, Bootstrap, JavaScript, XML, JSON, Angular</li>
    <li>Experience in the designing database (SQL Server, MySQL, Oracle) using normalization concepts, creating database objects and writing SQL queries, stored procedures.</li>
    <li>Experience working with version control systems like Git, TFS.</li>
    <li>Experience in Auto Build and Deployment of Web Application in Azure DevOps</li>
    <li>Experience in PowerShell Scripting.</li>
    <li>Possess analytical and logical skills.</li>
    <li>Detail oriented, experience in working with cross-functional teams and different levels of management.</li>
    <li>Willingness to learn new technologies and open to suggestions and recommendations.</li>
</ul>

<h2>Work Experience</h2>
<hr />

<h3 style="color:blue;">Blue Link Associates Limited</h3>
<p><b>Designation:</b> Software Developer</p>
<p><b>Duration:</b> June 2018 – Present</p>
<p><b>Scope of Work:</b></p>
<ul>
    <li>Development/Maintenance of B2B e-commerce web application.</li>
    <li>Development/Maintenance of iOS app for ERP system basic tasks, Pick Sales Order, Receive Purchase Order, Managing Inventory.</li>
    <li>Mobile application support for different barcode scanners.</li>
    <li>Auto build application using Azure DevOps.</li>
    <li>Auto deployment of web and mobile application on individual client server using Azure DevOps.</li>
    <li>Custom web modules for Clients to integrate with ERP System.</li>
    <li>Technical support with Bug Fixes and Analysis of issues.</li>
</ul>

<p><b>Tools:</b>  Visual Studio, MS SQL Server Management Studio, Xcode</p>
<p><b>Technologies:</b> ASP.NET, ASP.NET Core, Xamarin, AngularJS, Angular</p>

<h3 style="color:blue;">Dynacare</h3>
<p><b>Designation:</b> Capstone Project Lead and Programmer</p>
<p><b>Duration:</b> Jan 2018 – April 2018</p>
<p><b>Project:</b> Business Intelligence Report</p>
<p><b>Project Information:</b> The patient goes through a survey which includes Wait Time, Dynacare Plus, Net CheckIn and Customer Experience after their visit to any Dynacare laboratory. The business wanted to consolidate all the survey data and generate a Business Intelligence report with the data for Province, District and Region for a specific year and week.</p>
<p><b>Scope of Work:</b></p>
<ul>
    <li>Consumed data from different data sources.</li>
    <li>Worked directly with product owners and stakeholders to elicit their feedback on report designs.</li>
    <li>Prepared stored procedures with business logic.</li>
</ul>
<p><b>Tools:></b>  MS SQL Server Management Studio, Report Builder 3.0, WebEx</p>
<p><b>Technologies:</b> T-SQL</p>

<h3 style="color:blue;">IGATE Global Solutions (CAPGEMINI Group Company)</h3>
<p><b>Designation:</b> Senior Software Engineer</p>
<p><b>Duration:</b> July 2013 – Aug 2016</p>
<p><b>Project:</b> Metlife – CAT (Client Acquisition Transformation)</p>
<p><b>Project Information:</b> Client Acquisition Transformation caters to customers looking for purchase of Group Benefits for their employees. Project involves creation and processing of new cases for group sales. It encompasses inclusion of Brokers, General Administrators (GA), Third Party Administrators (TPA), Clients and Implementation Consultants to initiate, review and complete the applications.</p>
<p><b>Scope of Work:</b></p>
<ul>
    <li>Customized application user interface to suit Metlife’s design styleguide.</li>
    <li>Understanding requirements and developing high-level design, low-level design and architecture of the system.</li>
    <li>Responsible for each phase from development to deployment of the code.</li>
    <li>Modified the existing code after identifying the potential problems and troubleshoots if necessary.</li>
    <li>Implemented responsive design for mobile/tablet platform.</li>
    <li>Experienced in Agile Development process.</li>
    <li>Delivering code with efficiency and verifying the data integrity.</li>
</ul>
<p><b>Tools:</b>  Eclipse RSA, SVN, SoapUI, MS Word, MS Powerpoint
<p><b>Technologies:</b> Java, Spring, HTML5, CSS3, JavaScript, Bootstrap 3.0

<h3 style="color:blue;">HCL Career Development Center</h3>
<p><b>Designation:</b> Mentor</p>
<p><b>Duration:</b> Dec 2012 – June 2013</p>
<p><b>Project:</b> Industrial Experience</p>
<p><b>Project Information:</b> The mentorship includes giving a detailed understanding of Software Development Life Cycle to bachelor’s final semester students. The process includes teaching a software development language and the project implementation of the same.</p>
<p><b>Scope of Work:</b></p>
<ul>
    <li>Assisting final year bachelor’s student as a mentor and guide.</li>
    <li>Mentoring and teaching C# .NET.</li>
    <li>Instruct all student with their final project submission.</li>
</ul>
<p><b>Tools:</b>  Visual Studio, MS SQL Server Management Studio, MS Office, MS Powerpoint</p>
<p><b>Technologies:</b> ASP.NET, C#, HTML, CSS3, JavaScript, JQuery</p>

<h2>Education</h2>
<hr />
<p><b>Information Technology Solution, Humber College, Toronto</b> (2016 - 2018)</p>
<ul>
    <li>Post-Graduation Diploma.</li>
</ul>

<p><b>Bachelor’s Degree, Chitkara University, India</b> (2008 - 2012)</p>
<ul>
    <li>Bachelor of Engineering in Computer Science.</li>
</ul>

<h2>Other Experience</h2>
<hr />
<p><b>Canadian Multicultural Radio</b> (2016 - 2018)</p>
<ul>
    <li>Technical Director</li>
    <li>Radio Host</li>
</ul>

<p><b>Teacher (volunteer) with MAKE A DIFFERENCE</b></p>
<ul>
    <li><b>MAKE A DIFFERENCE (MAD)</b> is a youth organization which recruits students to teach the children of various orphanages (shelter homes). Responsibilities involve organizing presentations, weekly classes and other fun activities. Now I am working as a Friend of MAD.</li>
</ul>

<p style="text-align:center;"><b>References available upon request</b></p>


