@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Message</h2>

<address>
    VIJAY<br />
    • 48-19 Foxchase Avenue, Woodbridge, ON, L4L 9N1<br />
    • (647)-676-3338<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:vijay.gangus@gmail.com">vijay.gangus@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/vijay-vijay" target="_blank">LinkedIn Account</a><br/>
    <strong>GitHub:</strong> <a href="https://github.com/CoffeeAndBun" target="_blank">GitHub Account</a>
</address>